[submodule "custom/plugins/zsh-syntax-highlighting"]
	path = custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "custom/plugins/fast-syntax-highlighting"]
	path = custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "custom/plugins/rustup"]
	path = custom/plugins/rustup
	url = https://github.com/pkulev/zsh-rustup-completion
[submodule "custom/plugins/Snappy"]
	path = custom/plugins/Snappy
	url = https://github.com/cperrin88/Snappy_zsh_autocompletion
[submodule "plugins/fzf-tab"]
	path = plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "custom/plugins/gitstatus"]
	path = custom/plugins/gitstatus
	url = https://github.com/romkatv/gitstatus
